/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

 * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to left, #83a4d4, #b6fbff);
  }
  
  :before {
    content: "";
    position: absolute;
    height: 100%;
    width: 4000px;
    left: -2000px;
    z-index: -1;
  }
  
  .container {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
    
  }
  .intro {
    background: #23424A;
    color: white;
    padding: 50px 0;
  }
  
  
  .intro-content {
    width: 50%;
  }

  .learn {
    background-color:#38CFD9;
    border-radius: 4rem;
  }